body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh; 
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
}

h1{
    color: #f4f4f4;
}

.container{
    width: 80px;
    height: 80px;
    background-color: rgb(55, 0, 255);
}

.header{
    text-align: center;
    margin-top: 20px;
}

.foto{
    margin: 20px;
    width: 150px;
    height: auto;
}

.indice{
    text-align: justify;
    margin-top: 20px;
}

.parrafo{
    justify-content: center;
}

.container {
    width: 80%; 
    max-width: 1000px;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
}
